.login {
  margin: 2.5rem;
  padding: 2.5rem 5rem;
  background-color: var(--color-dark--1);
  min-height: calc(100vh - 5rem);
  border-radius: 1rem;
}

.formContainer {
  max-width: 48rem;
  margin: 8rem auto;
  padding: 2.4rem;
  border-radius: 1rem;
  color: #fff;
  background-color: var(--color-dark--2);
}
